<div class="flex bg-gray-200 p-5 flex-col w-1/4">
    <h3 class="uppercase w-full font-bold"><%= article.id %> : <%= article.title %></h3>
    <p class="text-sm"><%= article.created_at %></p>    
    <%= link_to "Ver mas", article, class: "text-sky-600" %>
</div>
